**Creación de DataFrame**

In [3]:
import pandas as pd

# Crear un DataFrame a partir de una lista de diccionarios
data = [{'Nombre': 'Alice', 'Edad': 25},
        {'Nombre': 'Bob', 'Edad': 30},
        {'Nombre': 'Charlie', 'Edad': 22}]
df = pd.DataFrame(data)

# Crear una Serie
serie_edades = pd.Series([25, 30, 22], name='Edad')

print(df)
print(serie_edades)

    Nombre  Edad
0    Alice    25
1      Bob    30
2  Charlie    22
0    25
1    30
2    22
Name: Edad, dtype: int64

**Lectura y escritura de datos**

In [4]:
# Leer datos desde un archivo CSV
#df = pd.read_csv('datos.csv')

# Escribir datos en un archivo CSV
#df.to_csv('nuevos_datos.csv', index=False)

# Leer datos desde una hoja de Excel
df_excel = pd.read_excel('Libro1.xlsx', sheet_name='Hoja1')
df_excel

,Unnamed: 0,Fecha,Día,Producto,Medida,Lugar,Cantidad,Precio_unitario,venta_total,litros_vendidos
0,NaN,2022-06-26,Domingo,Agua de naranja,0.5,Zepeda,18,20,360,9.0
1,NaN,2022-06-26,Domingo,Agua de naranja,0.5,General,2,20,40,1.0
2,NaN,2022-06-26,Domingo,Agua de jamaica,0.5,Zepeda,19,20,380,9.5
3,NaN,2022-06-26,Domingo,Agua de jamaica,1.0,Zepeda,1,40,40,1.0
4,NaN,2022-06-26,Domingo,Chocomilk,0.5,Zepeda,2,30,60,1.0
...,...,...,...,...,...,...,...,...,...,...
268,NaN,2022-07-31,Domingo,Chocomilk,0.5,Zepeda,8,30,240,4.0
269,NaN,2022-07-31,Domingo,Chocomilk,0.5,General,1,30,30,0.5
270,NaN,2022-07-31,Domingo,Licuado de fresa,0.5,General,2,30,60,1.0
271,NaN,2022-07-31,Domingo,Jugo de naranja,0.5,Zepeda,5,30,150,2.5
272,NaN,2022-07-31,Domingo,Jugo de naranja,0.5,General,2,30,60,1.0

**Selección de filas y columnas**

In [ ]:
columna = df_excel['venta_total']
columna

#Selección de múltiples columnas
df=df_excel[["Fecha","Día","Producto","Medida","Lugar","Cantidad","Precio_unitario","venta_total","litros_vendidos"]]
df

In [18]:
#Buscar por fila
fila = df.loc[0]
fila

Fecha              2022-06-26 00:00:00
Día                            Domingo
Producto               Agua de naranja
Medida                             0.5
Lugar                           Zepeda
Cantidad                            18
Precio_unitario                     20
venta_total                        360
litros_vendidos                    9.0
Name: 0, dtype: object

In [19]:
#Seleccionar un valor específico:
valor = df.at[0, 'Día']
valor

'Domingo'

**Filtrar por filas**

In [ ]:
#Filtrar filas basadas en una condición:
filtro = df['venta_total'] > 400
resultado_filtrado = df[filtro]
resultado_filtrado

In [ ]:
#Filtrar filas con múltiples condiciones:
filtro = (df['venta_total'] > 200) & (df['Día'] == 'Miercoles')
resultado_filtrado = df[filtro]
resultado_filtrado

In [ ]:
#Filtrar filas que cumplan con una condición en una columna específica:
resultado_filtrado = df[df['Día'] == 'Domingo']
resultado_filtrado